.logContainer{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    border-radius: 1rem;
    width: 30%;
    border: 1px solid white;
}
    
    .row-field{
    display: flex;
    flex-direction: column;
}


.inputField{
    width:100%;
    padding: 8px;
    border-radius: 5px;
    border:1px solid #b7c4c9;
    margin-top: 7px;
    background-color: transparent;
  }

.inputField{
    width: 90%;
}

h3{
    color:whitesmoke;
}

label{
    text-align: left;
    color:whitesmoke;
    margin-left: 20px;
    font-size: 23px;
}

.signbtn{
    background-color: #ffd0a2;
    color: black;
    margin-top: 10px;
    width: 35%;
    border-radius: 20px;
    padding: 3px;
}

.errors{
    color: red;
    font-size: 10px;
    text-align: left;
    margin-left: 20px;
}

a{
    color: rgb(0, 0, 192);
}

.linktext{
    font-size: 1rem;
    margin-left: -35%;
}
